<!DOCTYPE html>
<html>
<head>
  <title>Zvooq Reports</title>
  <meta name="csrf-token" content="{{csrfToken}}"></meta>
<!--  <script src="js/lib/require.js" data-main="js/main.js"></script>
  <link type="text/css" rel="stylesheet" href="css/style.css"/>
  <link type="text/css" rel="stylesheet" href="css/ember-charts.css"/>
  <link type="text/css" rel="stylesheet" href="css/ember-table.css"/>
  <link type="text/css" rel="stylesheet" href="css/datepicker.css"/>
  <link type="text/css" rel="stylesheet" href="css/bootstrap.css"/>
  <link type="text/css" rel="stylesheet" href="css/bootstrap-theme.css"/>
  <link type="text/css" rel="stylesheet" href="css/growl-notifications.css"/> -->
</head>
<body>
  <!-- <div id="app"></div> -->
</body>
</html>
