<div class="main">
    <p>Dear Partner!</p>

    <p> We welcome you on {{#link-to "index"}}Zvooq{{/link-to}} online statistics page. </p>

    <p>
        Here you will be able to
    <ul>
        <li>view online statistics and analysis on {{#link-to "stats"}}Statistics & Analysis{{/link-to}}</li>
        <li>examine monthly and quarterly reports on {{#link-to "reports"}}Reports{{/link-to}}</li>
        <li>manage your content and releases on {{#link-to "content"}}Content managment{{/link-to}}</li>
        <li>make your personal settings on {{#link-to "dashboard"}}Dashboard{{/link-to}}</li>
    </ul>
    </p>

    <p>
        In case you have any requests, comments and questions our support team is always at your disposal at
    </p>
    <p>
        Sincerely yours, </br>
        Zvooq.
    </p>
</div>
